// 全局基础样式
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0; // 确保没有默认的内边距
  box-sizing: border-box; // 统一盒模型
}

*,
*::before,
*::after {
  box-sizing: inherit; // 继承盒模型设置
}

#app {
  display: flex;
  flex-direction: column;
}

// 自定义滚动条样式，深色主题
* {
  scrollbar-width: thin; // 适用于 Firefox
  scrollbar-color: #4a4a4a #2c2c2c; // 滚动条颜色
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #4a4a4a; // 滚动条滑块颜色
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #6a6a6a; // 滑块悬停颜色
}

*::-webkit-scrollbar-track {
  background-color: #2c2c2c; // 滚动条轨道颜色
  border-radius: 4px;
}